<div
  class="grid grid-cols-1 divide-y h-24 text-sm bg-neutral-900 text-slate-300"
>
  <div class="px-5 h-12 flex items-center">
    <p>Hyperdise</p>
  </div>
  <div class="flex justify-between px-5 h-12 items-center">
    <div class="flex space-x-4">
      <p>About</p>
      <p>Advertising</p>
      <p>Business</p>
      <p>How Search works</p>
    </div>
    <div>
      <p>🏎 Driving racecar since 2010</p>
    </div>
    <div class="flex space-x-4">
      <p>Privacy</p>
      <p>Terms</p>
      <p>Settings</p>
    </div>
  </div>
</div>
