<form method="post">
  <div class="relative w-full">
    <div
      class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
    <input
      type="text"
      id="query"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-2xl focus:ring-blue-500 focus:border-blue-500 block pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full"
      required
      name="query"
    />
    <div class="flex absolute inset-y-0 right-0 items-center pr-6 space-x-2">
      <button type="button" class="">
        <i class="bi bi-mic-fill"></i>
      </button>
      <button type="button" class="">
        <i class="bi bi-camera"></i>
      </button>
    </div>
  </div>
  <div class="flex space-x-4 my-3 text-[#e8eaed] justify-center">
    <button
      class="px-4 py-2 bg-[#303134] rounded border border-[#303134] text-sm"
      type="submit"
    >
      Google Search
    </button>
    <button
      class="px-4 py-2 bg-[#303134] rounded border border-[#303134] text-sm"
      type="submit"
    >
      I'm Feeling Lucky
    </button>
  </div>
</form>
